$primary-bgc: rgb(231, 237, 218);
$primary-color: rgb(42, 169, 89);
$secondary-color: rgb(36, 181, 171);
$third-color: rgb(38, 191, 51);
$fourt-color: rgb(38, 191, 138);
$icon-color: rgba(60, 71, 52, 1);
$cta-color: rgb(191, 38, 92);
$red-color: rgb(241, 21, 21);
$yellow-color: rgb(255, 158, 0);
$footer-color: rgb(131, 131, 131);