/* Hamburger menu style */


.burger-btn {
	background: none;
	border: 1px solid transparent;
	cursor: pointer;
}
.burger-btn:focus {
	outline: none;
	border: 1px solid rgba(255, 255, 255, 0.5);
	border-radius: 8px;
}

.burger-btn__box {
	position: relative;
	width: 25px;
	height: 14px;
}
.burger-btn__bars,
.burger-btn__bars::after,
.burger-btn__bars::before {
	position: absolute;
	left: 0;
	height: 2px;
	border-radius: 2px;
	content: '';
	background-color: white;
	transition: width 0.3s;
}
.burger-btn__bars {
	width: 100%;
}
.burger-btn__bars::after {
	top: 7px;
	width: 100%;
}
.burger-btn__bars::before {
	top: 14px;
	width: 100%;
	transition-delay: 0.1s;
}

.black-bars-color,
.black-bars-color::after,
.black-bars-color::before {
	background-color: white;
}
