@use 'colors' as *;

.cart-shadow {
	display: none;
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 10;
	background-color: rgba(0, 0, 0, 0.9);
}

.cart {
	display: flex;
	display: none;
	flex-direction: column;
	position: fixed;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 33rem;
	height: 40rem;
	background-color: white;
	border-radius: 1rem;
	overflow: hidden;
	z-index: 10;

	.content {
		width: 100%;
		height: 100%;
		.top {
			display: flex;
			img {
				width: 15rem;
				height: 18rem;
				border-bottom-right-radius: 1rem;
			}
			.informations {
				display: flex;
				flex-direction: column;
				padding-left: 1.5rem;
				padding-right: 2.5rem;
				padding-top: 2.6rem;
				gap: 2rem;
				font-size: 1em;
				color: $footer-color;
				.name {
					color: $footer-color;
					font-weight: 700;
				}
				span {
					color: black;
					font-weight: 500;
				}
				.top-inf,
				.bottom-inf {
					display: flex;
					flex-direction: column;
					gap: 1.2rem;
				}
				.last {
					font-size: 1rem;
					.lastPrize {
						font-weight: 700;
						color: $footer-color;
					}
				}
				.bottom-inf {
					.fastBuy {
						font-size: 0.8rem;
						.time {
							color: $primary-color;
						}
					}
					.buttons {
						display: flex;
						gap: 0.5rem;
						button{
							position: relative;
							padding: 0.5rem 2rem;
							border-radius: 0.5rem;
							font-weight: 700;
							color: white;
							background-color: $cta-color;
							border: none;
							cursor: pointer;
						}
						button:nth-child(2) {
							padding: 0.5rem 1rem;
						}

						.addToBuy {
							left: 0;
							transition: color 0.2s, border-radius 0.2s, left 0.7s;
						}

						.addToBuyAnimation {
							color: transparent;
							border-radius: 50%;
							left: 75%;
						}
						.errorAlert {
							position: absolute;
							top: 0;
							right: 0;
							width: 100%;
							text-align: center;
							color: white;
							background-color: $cta-color;
							border-radius: 0.5rem;
							transform: translateY(-100%);
							transition: transform 0.5s;
							p {
								padding: 0.5rem;
								font-size: 0.8em;
							}
						}
						.errorAlertAnimation {
							transform: translateY(0);
						}
					}
				}
			}
		}
		.bottom {
			display: flex;
			.left {
				display: flex;
				align-items: center;
				justify-content: center;
				width: 45%;
				height: 22rem;
				text-align: center;

				p {
					width: 90%;
					font-size: 1rem;
				}
			}
			.right {
				display: flex;
				flex-direction: column;
				align-items: center;
				justify-content: center;
				gap: 1.5rem;
				width: 55%;

				h2 {
					font-size: 1rem;
				}
				form {
					display: flex;
					gap: 0.8rem;
					margin-top: 1.2rem;

					input[type='radio'] {
						appearance: none;
						border-radius: 0.5rem;
						border: 1px solid #000;
						transition: border 0.1s;
						&:checked {
							border: 2px solid $primary-color;
						}
					}

					input {
						position: relative;
						width: 2rem;
						height: 2rem;
						cursor: pointer;
						&::after {
							position: absolute;
							font-weight: 700;
							left: 50%;
							top: 50%;
							transform: translate(-50%, -50%);
							font-size: 1rem;
						}
					}
					.size__block:nth-child(1)::after {
						content: 'XS';
					}
					.size__block:nth-child(2)::after {
						content: 'S';
					}
					.size__block:nth-child(3)::after {
						content: 'M';
					}
					.size__block:nth-child(4)::after {
						content: 'L';
					}
					.size__block:nth-child(5)::after {
						content: 'XL';
					}

					.quantity__block:nth-child(1)::after {
						content: '1';
					}
					.quantity__block:nth-child(2)::after {
						content: '2';
					}
					.quantity__block:nth-child(3)::after {
						content: '3';
					}
					.quantity__block:nth-child(4)::after {
						content: '4';
					}
					.quantity__block:nth-child(5)::after {
						content: '5';
					}

					.color {
						&__block {
							&::after {
								content: '';
								width: 60%;
								height: 60%;
								border-radius: 50%;
							}
							&:nth-child(1)::after {
								background-color: $yellow-color;
							}
							&:nth-child(2)::after {
								background-color: $primary-color;
							}
							&:nth-child(3)::after {
								background-color: $fourt-color;
							}
							&:nth-child(4)::after {
								background-color: $secondary-color;
							}
							&:nth-child(5)::after {
								background-color: $red-color;
							}
						}
					}
				}
			}
		}
	}
}

@media (min-width: 576px) {
	.cart {
		width: 40rem;
		height: 50rem;
		.content {
			.top {
				img {
					width: 20rem;
					height: 22rem;
				}
				.informations {
					padding-left: 2.5rem;
					padding-top: 2.6rem;
					gap: 2rem;
					font-size: 1.2em;
					.top-inf,
					.bottom-inf {
						gap: 1.2rem;
					}
					.last {
						font-size: 1.2rem;
					}
					.bottom-inf {
						.fastBuy {
							font-size: 1rem;
						}
						.buttons {
							gap: 1rem;
							button{
								font-size: 1.6rem;
							}
						}
					}
				}
			}
			.bottom {
				.left {
					width: 50%;
					height: 28rem;

					p {
						width: 85%;
						font-size: 1.3rem;
					}
				}
				.right {
					gap: 2rem;
					width: 50%;

					h2 {
						font-size: 1.4rem;
					}
					form {
						gap: 1rem;

						input {
							width: 2.4rem;
							height: 2.4rem;
							&::after {
								font-size: 1.2rem;
							}
						}
					}
				}
			}
		}
	}
}

@media (min-width: 768px) {
	.cart {
		width: 50rem;
		height: 55rem;
		.content {
			.top {
				img {
					width: 24rem;
					height: 26rem;
				}
				.informations {
					padding-left: 3rem;
					padding-top: 2.6rem;
					gap: 2rem;
					font-size: 1.4em;
					.top-inf,
					.bottom-inf {
						gap: 1.6rem;
					}
					.last {
						font-size: 1.4rem;
					}
					.bottom-inf {
						.fastBuy {
							font-size: 1.2rem;
						}
						.buttons {
							gap: 1.4rem;
							button,
							a {
								font-size: 2.2rem;
							}
						}
					}
				}
			}
			.bottom {
				.left {
					width: 48%;
					height: 29rem;

					p {
						font-size: 1.5rem;
					}
				}
				.right {
					gap: 2rem;
					width: 52%;

					h2 {
						font-size: 1.6rem;
					}
					form {
						gap: 1rem;

						input {
							width: 3rem;
							height: 3rem;
							&::after {
								font-size: 1.4rem;
							}
						}
					}
				}
			}
		}
	}
}

@media (min-width: 992px) {
	.cart {
		width: 55rem;
		height: 58rem;
		.content {
			.top {
				img {
					width: 24rem;
					height: 28rem;
				}
				.informations {
					padding-left: 4rem;
					padding-top: 3rem;
					font-size: 1.8em;
					.bottom-inf {
						.buttons {
							gap: 1.6rem;
							button {
								padding: 0.6rem 2.25rem;
								font-size: 2.5rem;
							}
						}
					}
				}
			}
			.bottom {
				.left {
					width: 48%;
					height: 30rem;

					p {
						font-size: 1.7rem;
					}
				}
				.right {
					gap: 2.4rem;
					width: 52%;

					h2 {
						font-size: 1.8rem;
					}
					form {
						gap: 1.2rem;

						input {
							width: 3.4rem;
							height: 3.4rem;
							&::after {
								font-size: 1.6rem;
							}
						}
					}
				}
			}
		}
	}
}

@media (min-width: 1200px) {
	.cart {
		width: 75rem;
		height: 76rem;
		.content {
			.top {
				img {
					width: 31rem;
					height: 34rem;
				}
				.informations {
					padding-left: 7rem;
					padding-top: 4rem;

					gap: 4rem;
					font-size: 2.4em;
					.top-inf,
					.bottom-inf {
						gap: 2rem;
					}
					.last {
						font-size: 1.8rem;
					}
					.bottom-inf {
						.fastBuy {
							font-size: 1.4rem;
							padding-right: 6rem;
						}
						.buttons {
							gap: 2rem;
							.buy {
								padding: 0.6rem 2.5rem;
							}
							button{
								font-size: 2.8rem;
							}
						}
					}
				}
			}
			.bottom {
				.left {
					width: 48%;
					height: 42rem;

					p {
						font-size: 2.2rem;
					}
				}
				.right {
					gap: 2.8rem;
					width: 52%;

					h2 {
						font-size: 2.2rem;
					}
					form {
						gap: 1.2rem;

						input {
							width: 4rem;
							height: 4rem;
							&::after {
								font-size: 1.6rem;
							}
						}
					}
				}
			}
		}
	}
}
