@use 'colors' as *;
@import 'shopCart';

*,
*::before,
*::after {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html {
	scroll-behavior: smooth;
	font-size: 62.5%;
}

body {
	background-color: $primary-bgc;
	font-size: 1.6rem;
	font-family: 'Montserrat', sans-serif;
}

.wrapper {
	margin: 0 auto;
	max-width: 1200px;
	width: 100%;
}

.shadow-bg {
	background-color: rgba(0, 0, 0, 0.8);
}

.main-color {
	color: $primary-color;
}

.blue-color {
	color: $secondary-color;
}

.cta-color {
	color: $cta-color;
}

.typed-cursor {
	display: none;
}

// Navigation

.nav {
	display: flex;
	justify-content: center;
	align-items: center;
	transform: translateX(100%);
	transition: 0.5s cubic-bezier(0.65, 0.05, 0.36, 1);
	&__line {
		position: fixed;
		top: 0;
		display: flex;
		justify-content: space-between;
		align-items: center;
		position: fixed;
		top: 0;
		left: 50%;
		transform: translate(-50%);
		padding: 1em 1.7rem;
		z-index: 100;
	}

	&__title {
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 1.1rem;
		margin-right: 1.1rem;
		font-size: 1.8rem;
		img {
			width: 25px;
		}
		p {
			font-weight: 700;
			color: white;
		}
	}
	&__shopCart {
		position: relative;
		background-color: transparent;
		border: none;
		cursor: pointer;
		img {
			width: 1.8rem;
		}
		&::after {
			// display: flex;
			display: none;
			align-items: center;
			justify-content: center;
			position: absolute;
			color: white;
			right: -0.2rem;
			top: 0;
			height: 1.2em;
			width: 1.2em;
			font-size: 0.8rem;
			border-radius: 1em;
			content: '1';
			background-color: $red-color;
		}
	}
}

ul {
	list-style: none;
	font-size: 24px;
}

a {
	text-decoration: none;
}

.menu-item {
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	top: 100%;
	line-height: 3rem;
	background-color: $primary-bgc;
	width: 100%;
	transform: translateY(-200%);
	transition: 0.5s cubic-bezier(0.65, 0.05, 0.36, 1);
	margin-left: -1.78rem;
	padding: 0.5em;
	text-align: center;
	border-bottom-left-radius: 0.5rem;
	border-bottom-right-radius: 0.5rem;
	a {
		font-weight: 700;
		font-size: 1.3rem;
		color: black;
		transition: color 0.3s;
	}

	a:hover {
		color: $primary-color;
	}
}

.menu-item--active {
	transform: translateY(0);
}

// Header

header {
	color: white;

	h2 {
		font-size: 2.8rem;
	}

	p {
		font-size: 2.2rem;
		margin: 0.5rem 0 2rem 0;
	}

	.hero-img {
		position: relative;
		height: 100vh;
		background-image: url('../img/shoe-bg-small.jpg');
		background-position: top;
		background-size: cover;
		background-attachment: fixed;
		z-index: 0;
	}

	.hero-shadow {
		position: absolute;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.85);
		z-index: -10;
	}

	.hero-text {
		display: flex;
		flex-direction: column;
		justify-content: center;
		height: 100%;
		padding: 2rem;
		z-index: 5;
		.btn {
			position: relative;
			display: flex;
			align-items: center;
			justify-content: center;
			gap: 5px;
			width: 100px;
			height: 35px;
			background-color: $primary-bgc;
			border-radius: 1px;
			color: black;
			font-size: 1.4rem;
			img {
				width: 16px;
			}
			&::after {
				position: absolute;
				right: -3px;
				bottom: -3px;
				width: 100%;
				height: 100%;
				content: '';
				border: 1px solid $primary-bgc;
				border-radius: 1px;
			}
		}
	}
}

// Main

.secondary-color {
	color: $secondary-color;
}

.bold {
	font-weight: 700;
}

.section {
	padding-top: 4rem;
	&__title {
		position: relative;
		margin-bottom: 4rem;
		margin-left: 13%;
		font-size: 2.4rem;
		font-weight: 500;
		color: black;
		&::before {
			position: absolute;
			left: -1.5rem;
			top: 0;
			content: '';
			height: 30px;
			width: 2px;
			background-color: black;
		}
	}
	&__cart {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;
		height: 30rem;
		background: linear-gradient(112.68deg, #1e694f 0.02%, #2aa959 92.79%);
		&-btn {
			position: relative;
			display: flex;
			align-items: center;
			justify-content: center;
			width: 9rem;
			height: 2.4rem;
			background-color: $primary-bgc;
			border-radius: 1px;
			margin-top: 1em;
			transition: background-color 0.3s, border 0.3s, padding-top 0.3s,
				padding-left 0.3s;
			color: black;
			font-size: 1.2rem;
			span {
				z-index: 1;
			}
			&::after {
				position: absolute;
				right: -3px;
				bottom: -3px;
				width: 100%;
				height: 100%;
				content: '';
				border: 1px solid $primary-bgc;
				border-radius: 1px;
				z-index: 0;
				transition: background-color 0.3s, border 0.3s;
			}
			&:hover {
				background-color: transparent;
				border: 1px solid $primary-bgc;
				padding-top: 0.5rem;
				padding-left: 0.5rem;
			}
			&:hover::after {
				background-color: $primary-bgc;
				border: 1px solid $primary-bgc;
			}
		}
	}
	&__item {
		display: flex;
		width: 94%;
		height: 84%;
		border-radius: 1rem;
		overflow: hidden;
		&--left {
			width: 50%;
			img {
				width: 100%;
				height: 100%;
			}
		}
		&--right {
			display: flex;
			flex-direction: column;
			color: white;
			width: 50%;
			background-color: #333;
			font-size: 1.2rem;
			padding: 2rem 0;
		}
	}
}

.best {
	&-text {
		display: flex;
		justify-content: center;
		flex-direction: column;
		height: 100%;
		p {
			line-height: 2.2em;
			margin-left: 10%;
			.fa-star,
			.gold {
				color: $yellow-color;
			}
		}
	}
	&-more {
		margin-top: 2em;
		margin-left: 10%;
		padding-bottom: 1em;
		i {
			font-size: 0.8rem;
		}
	}
}

.all {
	overflow: hidden;
	&__items {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: center;
		width: 94%;
		height: 86%;
		&-item {
			position: relative;
			width: 65%;
			height: 100%;
			border-radius: 1rem;
			overflow: hidden;
			transition: transform 0.3s, filter 0.3s;
			&::after {
				display: flex;
				align-items: center;
				justify-content: center;
				content: 'Koszulka';
				width: 100%;
				height: 20%;
				position: absolute;
				background-color: rgba(0, 0, 0, 0.8);
				bottom: 0;
				color: white;
				font-weight: 700;
				font-size: 2rem;
				transition: content 0.6s, background-color 0.3s;
			}

			&:hover::after {
				content: '';
				background-color: transparent;
			}

			&:hover {
				img {
					filter: blur(5px);
				}
			}

			.img {
				position: relative;
				width: 100%;
				height: 100%;
				img {
					width: 100%;
					height: 100%;
					z-index: 0;
					transition: filter 0.3s;
				}
				.shadow {
					position: absolute;
					width: 100%;
					height: 100%;
					background-color: rgba(0, 0, 0, 0.8);
					top: 0;
					left: 0;
					bottom: 0;
					right: 0;
					z-index: 10;
					opacity: 0;
					transition: opacity 0.3s;
					overflow: hidden;
					.content {
						display: flex;
						flex-direction: column;
						justify-content: end;
						height: 100%;
						gap: 1rem;
						color: white;
						padding-left: 2rem;
						padding-bottom: 2.8rem;
						transform: translateX(-10rem);
						transition: transform 0.3s;

						.title {
							font-size: 2rem;
						}
						.location {
							font-size: 1rem;
						}
						.section__cart-btn {
							margin-top: 0.5rem;
						}
					}
				}

				&:hover .shadow {
					opacity: 1;
				}
				&:hover .content {
					transform: translateX(0);
				}
			}
		}

		.item-animation-last {
			animation: lastAnimation 1s forwards;
		}

		@keyframes lastAnimation {
			from {
				opacity: 1;
				transform: translateX(0);
			}
			to {
				transform: translateX(-200%);
				opacity: 0;
			}
		}

		.item-animation-new {
			animation: newAnimation 1s forwards;
		}

		@keyframes newAnimation {
			from {
				opacity: 0;
				transform: translateX(200%);
			}
			to {
				transform: translateX(0);
				opacity: 1;
			}
		}
	}
	&__cart {
		position: relative;
		&-btn {
			position: absolute;
			height: 6rem;
			width: 6rem;
			border-radius: 50%;
			border: transparent;
			color: white;
			background-color: rgba(0, 0, 0, 0.2);
			cursor: pointer;
			&:hover {
				background-color: rgba(0, 0, 0, 0.8);
			}
		}

		.back-btn {
			left: 0;
			transform: translate(-50%);
			padding-left: 1rem;
			transition: left 0.3s, padding-left 0.3s, background-color 0.3s;
			&:hover {
				left: 3%;
				padding-left: 0.5rem;
			}
			&:hover ~ .all__items-item {
				transform: translateX(-10%);
				filter: blur(1px);
			}
		}

		.next-btn {
			right: 0;
			transform: translate(50%);
			padding-right: 1rem;
			transition: right 0.3s, padding-right 0.3s, background-color 0.3s;
			&:hover {
				right: 3%;
				padding-right: 0.5rem;
			}
			&:hover ~ .all__items-item {
				transform: translateX(10%);
				filter: blur(1px);
			}
		}
	}
}

.information {
	&__content {
		display: flex;
		flex-direction: column;
		gap: 1.5rem;
		padding-left: 15%;
		padding-right: 2rem;
		p {
			font-size: 1.4rem;
			a {
				position: relative;
				z-index: 1;
				transition: color 0.3s;
				&::after {
					position: absolute;
					bottom: 0;
					left: 0;
					content: '';
					height: 100%;
					width: 100%;
					transform: translateY(50%);
					z-index: -1;
					transition: transform 0.3s, background-color 0.3s;
				}

				&:hover {
					color: white;
				}

				&:hover::after {
					transform: translateY(0);
					background-color: $cta-color;
				}
			}
		}

		&-form {
			display: flex;
			flex-direction: column;
			gap: 2.5rem;
			margin-top: 2.5rem;
			margin-bottom: 4rem;
			padding-right: 6rem;
			input,
			textarea {
				width: 100%;
				padding: 1rem;
				border-radius: 0.5rem;
				border: 1px solid black;
				background: none;
			}
			.top {
				display: flex;
				flex-direction: column;
				gap: 2.5rem;
			}
			.label-input {
				position: relative;
				display: flex;
				flex-direction: column;
				input ~ label,
				textarea ~ label {
					position: absolute;
					top: 0.4rem;
					left: 0.8rem;
					padding-inline: 0.25rem;
				}
				textarea {
					min-width: 100%;
					max-width: 100%;
				}
				input ~ label,
				textarea ~ label {
					top: -0.75rem;
					left: 2rem;
					background-color: $primary-bgc;
					font-size: 1rem;
				}
			}

			button {
				width: 10rem;
				padding: 0.5rem 0;
				border: none;
				font-size: 1.4rem;
				font-weight: 700;
				border-radius: 5px;
				background-color: $cta-color;
				color: white;
				cursor: pointer;
			}
		}
	}
}

footer {
	position: relative;
	padding: 3rem 4rem 2rem;
	background-color: #333;
	color: white;
	.content {
		display: flex;
		flex-direction: column;
		padding-bottom: 2rem;
		gap: 1.1rem;
		hr {
			color: white;
		}
		.links {
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			gap: 1.1rem;
			a {
				font-size: 1.2rem;
				color: $footer-color;
				transition: color 0.3s;
				&:hover {
					color: white;
				}
			}
		}
	}
	h2 {
		font-weight: 500;
	}
	.page {
		position: absolute;
		bottom: 0;
		left: 50%;
		transform: translate(-50%);
		font-size: 1rem;
	}
}

// Media

@media (min-width: 576px) {
	.nav {
		&__title {
			font-size: 2rem;
		}
		&__shopCart {
			img {
				width: 2rem;
			}
			&::after {
				height: 1.3em;
				width: 1.3em;
				font-size: 0.9rem;
			}
		}
	}

	.section {
		padding-top: 6rem;
		&__title {
			margin-bottom: 6rem;
			font-size: 2.8rem;
			&::before {
				height: 3.5rem;
				width: 0.2rem;
			}
		}
		&__cart {
			height: 38rem;
			&-btn {
				width: 13rem;
				height: 3rem;
				font-size: 1.6rem;
			}
		}
		&__item {
			width: 87%;
			&--right {
				font-size: 1.6rem;
			}
		}
	}

	.best {
		&-more {
			i {
				font-size: 1.4rem;
			}
		}
	}

	.all {
		&__items {
			&-item {
				width: 55%;
				&::after {
					font-size: 2.4rem;
				}

				.img {
					.shadow {
						.content {
							.title {
								font-size: 2.8rem;
							}
							.location {
								font-size: 1.4rem;
							}
						}
					}
				}
			}
		}
		&__cart {
			&-btn {
				height: 9rem;
				width: 9rem;
				i {
					font-size: 1.8rem;
				}
			}

			.back-btn {
				padding-left: 1rem;
				&:hover {
					left: 3%;
				}
			}

			.next-btn {
				padding-right: 1rem;
				&:hover {
					right: 3%;
				}
			}
		}
	}

	.information {
		&__content {
			gap: 2.5rem;
			p {
				font-size: 1.8rem;
			}
			&-form {
				gap: 3rem;
				margin-top: 3rem;
				margin-bottom: 5rem;
				padding-right: 6rem;
				input,
				textarea {
					font-size: 1.8rem;
				}
				.label-input {
					input ~ label,
					textarea ~ label {
						top: -0.9rem;
						background-color: $primary-bgc;
						font-size: 1.2rem;
						padding-inline: 0.25rem;
					}
				}

				button {
					width: 12.5rem;
					padding: 0.75rem 0;
					font-size: 1.6rem;
				}
			}
		}
	}

	footer {
		padding: 5rem 6rem 3rem;
		.content {
			padding-bottom: 3rem;
			gap: 1em;
			.links {
				gap: 1em;
				a {
					font-size: 1em;
				}
			}
		}
		.page {
			font-size: 1.2rem;
		}
	}
}

@media (min-width: 768px) {
	nav .wrapper,
	header .wrapper {
		padding-left: 5rem;
		padding-right: 5rem;
	}

	.nav {
		&__title {
			font-size: 2.8rem;
			img {
				width: 40px;
			}
		}
		&__shopCart {
			img {
				width: 3rem;
			}
			&::after {
				height: 1.2em;
				width: 1.2em;
				font-size: 1.2rem;
				padding-bottom: 0.3em;
			}
		}
	}

	.menu-item {
		margin-left: -5.08rem;
		line-height: 3.5rem;
		a {
			font-size: 1.6rem;
		}
	}

	header {
		h2 {
			font-size: 4.8rem;
		}

		p {
			font-size: 2.6rem;
		}

		.hero-img {
			background-image: url('../img/shoe-bg-big.jpg');
		}

		.hero-text {
			.btn {
				gap: 1rem;
				width: 160px;
				height: 45px;
				font-size: 2rem;
				img {
					width: 20px;
				}
			}
		}
	}
	.section {
		padding-top: 8rem;
		&__title {
			margin-bottom: 8rem;
			font-size: 3.2rem;
			&::before {
				height: 4rem;
			}
		}
		&__cart {
			height: 45rem;
			&-btn {
				width: 16rem;
				height: 4rem;
				font-size: 2rem;
			}
		}
		&__item {
			width: 87%;
			&--right {
				font-size: 1.8rem;
			}
		}
	}

	.best {
		&-more {
			i {
				font-size: 1.6rem;
			}
		}
	}

	.all {
		&__items {
			&-item {
				width: 50%;
				&::after {
					font-size: 2.8rem;
				}

				.img {
					.shadow {
						.content {
							padding-left: 4rem;
							padding-bottom: 4.8rem;
							.title {
								font-size: 3.2rem;
							}
							.location {
								font-size: 1.8rem;
							}
						}
					}
				}
			}
		}
		&__cart {
			&-btn {
				height: 11rem;
				width: 11rem;
				i {
					font-size: 2.8rem;
				}
			}

			.back-btn {
				left: -3%;
				padding-left: 4rem;
				&:hover {
					left: 0;
				}
			}

			.next-btn {
				right: -3%;
				padding-right: 4rem;
				&:hover {
					right: 0;
				}
			}
		}
	}

	.information {
		&__content {
			gap: 3rem;
			padding-right: 4rem;
			p {
				font-size: 2.4rem;
			}
			&-form {
				gap: 3.5rem;
				margin-top: 3.5rem;
				margin-bottom: 6rem;
				padding-right: 8rem;
				input,
				textarea {
					font-size: 2rem;
				}
				.label-input {
					input ~ label,
					textarea ~ label {
						top: -0.9rem;
						font-size: 1.4rem;
					}
				}

				button {
					width: 12.5rem;
					padding: 0.75rem 0;
					font-size: 1.8rem;
				}
			}
		}
	}

	footer {
		padding: 6rem 8rem 4rem;
		.content {
			padding-bottom: 4rem;
			gap: 2rem;
			.links {
				gap: 2rem;
				a {
					font-size: 2rem;
				}
			}
			h2 {
				font-size: 2em;
			}
		}
		.page {
			font-size: 1.4rem;
		}
	}
}

@media (min-width: 992px) {
	.section {
		padding-top: 10rem;
		&__title {
			margin-bottom: 10rem;
			font-size: 4.8rem;
			&::before {
				height: 6rem;
			}
		}
		&__cart {
			height: 55rem;
			&-btn {
				width: 20rem;
				height: 4.8rem;
				font-size: 2.4rem;
			}
		}
		&__item {
			width: 84%;
			&--right {
				font-size: 2.3rem;
			}
		}
	}

	.best {
		&-more {
			i {
				font-size: 2.2rem;
			}
		}
	}

	.all {
		&__items {
			&-item {
				width: 45%;
				&::after {
					font-size: 3.2rem;
				}

				.img {
					.shadow {
						.content {
							padding-left: 6rem;
							padding-bottom: 6.8rem;
							gap: 2rem;
							.title {
								font-size: 3.8rem;
							}
							.location {
								p {
									font-size: 2.4rem;
								}
							}
						}
					}
				}
			}
		}
		&__cart {
			&-btn {
				height: 11rem;
				width: 11rem;
				i {
					font-size: 2.8rem;
				}
			}

			.back-btn {
				left: -3%;
				padding-left: 4rem;
				&:hover {
					left: 0;
				}
			}

			.next-btn {
				right: -3%;
				padding-right: 4rem;
				&:hover {
					right: 0;
				}
			}
		}
	}
	.information {
		&__content {
			p {
				font-size: 3rem;
			}
			&-form {
				gap: 4rem;
				margin-top: 4rem;
				margin-bottom: 7rem;
				padding-right: 10rem;
				input,
				textarea {
					font-size: 2.2rem;
					padding: 1.5rem;
				}
				.label-input {
					input ~ label,
					textarea ~ label {
						top: -0.9rem;
						font-size: 1em;
					}
				}

				button {
					width: 15rem;
					padding: 0.75rem 0;
					font-size: 2rem;
				}
			}
		}
	}
	footer {
		padding: 7rem 10rem 6rem;
		.content {
			padding-bottom: 4rem;
			gap: 3rem;
			.links {
				grid-template-columns: repeat(3, 1fr);
				gap: 2rem;
				a {
					font-size: 2.4rem;
				}
			}
			h2 {
				font-size: 2.5em;
			}
		}
		.page {
			font-size: 1.6rem;
		}
	}
}

@media (min-width: 1200px) {
	.nav {
		&__title {
			gap: 2rem;
			margin-right: 2rem;
			font-size: 4.8rem;
			img {
				width: 60px;
			}
		}
		&__shopCart {
			img {
				width: 4rem;
			}
			&::after {
				right: -0.7rem;
				width: 1.4em;
				height: 1.4em;
				font-size: 1.4rem;
			}
		}
	}

	.menu-item {
		line-height: 6rem;

		a {
			font-size: 2.6rem;
		}
	}

	header {
		h2 {
			font-size: 6.4rem;
		}

		p {
			font-size: 3.2rem;
			margin: 1rem 0 4rem 0;
		}

		.hero-text {
			.btn {
				gap: 2rem;
				width: 230px;
				height: 60px;

				font-size: 2.8rem;
				img {
					width: 30px;
				}
				&::after {
					right: -5px;
					bottom: -5px;
				}
			}
		}
	}

	.section {
		padding-top: 12rem;
		&__title {
			margin-bottom: 12rem;
			font-size: 6.4rem;
			&::before {
				height: 8rem;
				width: 4px;
				border-radius: 5px;
			}
		}
		&__cart {
			height: 70rem;
			&-btn {
				width: 23rem;
				height: 6rem;
				font-size: 2.8rem;
				&::after {
					right: -4px;
					bottom: -4px;
				}
			}
		}
		&__item {
			width: 80%;
			&--left {
				width: 45%;
			}
			&--right {
				width: 55%;
				font-size: 2.8rem;
			}
		}
	}

	.best {
		&-more {
			i {
				font-size: 2.4rem;
			}
		}
	}

	.all {
		&__items {
			&-item {
				width: 50%;
				&::after {
					font-size: 4rem;
				}

				.img {
					.shadow {
						.content {
							padding-left: 4em;
							padding-bottom: 7rem;
							gap: 3rem;
							.title {
								font-size: 4.6rem;
							}
							.location {
								p {
									font-size: 3rem;
								}
							}
						}
					}
				}
			}
		}
		&__cart {
			&-btn {
				height: 14rem;
				width: 14rem;
				i {
					font-size: 3.4rem;
				}
			}

			.back-btn {
				padding-left: 0;
			}

			.next-btn {
				padding-right: 0;
			}
		}
	}
	.information {
		&__content {
			gap: 5rem;
			p {
				font-size: 3.8rem;
			}
			&-form {
				gap: 4rem;
				margin-top: 4rem;
				margin-bottom: 7rem;
				padding-right: 10rem;
				input,
				textarea {
					font-size: 2.2rem;
					padding: 1.5rem;
				}
				.top {
					flex-direction: row;
					justify-content: space-between;
					width: 100%;
					input {
						width: 153%;
					}
					.label-input:nth-child(2) {
						margin-right: 33%;
						transform: translate(50%);
					}
				}

				.label-input {
					input ~ label,
					textarea ~ label {
						top: -0.9rem;
						font-size: 1em;
					}
				}

				button {
					width: 20rem;
					padding: 1rem 0;
					font-size: 2.4rem;
				}
			}
		}
	}
	footer {
		padding: 7rem;
	}
}
