@use 'colors' as *;

*,
*::before,
*::after {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

html {
	scroll-behavior: smooth;
	font-size: 62.5%;
}

body {
	background-color: $primary-bgc;
	font-size: 1.6rem;
	font-family: 'Montserrat', sans-serif;
}

.wrapper {
	margin: 0 auto;
	max-width: 1200px;
	width: 100%;
}

.shadow-bg {
	background-color: rgba(0, 0, 0, 0.8);
}

.main-color {
	color: $primary-color;
}

// Navigation

.nav {
	display: flex;
	justify-content: center;
	align-items: center;
	transform: translateX(100%);
	transition: 0.5s cubic-bezier(0.65, 0.05, 0.36, 1);
	&__line {
		position: fixed;
		top: 0;
		display: flex;
		justify-content: space-between;
		align-items: center;
		position: fixed;
		top: 0;
		left: 50%;
		transform: translate(-50%);
		padding: 1em 1.7rem;
		z-index: 100;
	}

	&__title {
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 1.1rem;
		margin-right: 1.1rem;
		font-size: 1.8rem;
		img {
			width: 25px;
		}
		p {
			font-weight: 700;
			color: white;
		}
	}
	&__shopCart {
		position: relative;
		background-color: transparent;
		border: none;
		cursor: pointer;
		img {
			width: 1.8rem;
		}
		&::after {
			// display: flex;
			display: none;
			align-items: center;
			justify-content: center;
			position: absolute;
			color: white;
			right: -0.2rem;
			top: 0;
			height: 1.2em;
			width: 1.2em;
			font-size: 0.8rem;
			border-radius: 1em;
			content: '1';
			background-color: $red-color;
		}
	}
}

ul {
	list-style: none;
	font-size: 24px;
}

a {
	text-decoration: none;
}

.menu-item {
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	top: 100%;
	line-height: 3rem;
	background-color: $primary-bgc;
	width: 100%;
	transform: translateY(-200%);
	transition: 0.5s cubic-bezier(0.65, 0.05, 0.36, 1);
	margin-left: -1.78rem;
	padding: 0.5em;
	text-align: center;
	border-bottom-left-radius: 0.5rem;
	border-bottom-right-radius: 0.5rem;
	a {
		font-weight: 700;
		font-size: 1.3rem;
		color: black;
		transition: color 0.3s;
	}

	a:hover {
		color: $primary-color;
	}
}

.menu-item--active {
	transform: translateY(0);
}

// Header

header {
	color: white;

	h1 {
		font-size: 2.8rem;
	}

	p {
		font-size: 2.2rem;
		margin: 0.5rem 0 2rem 0;
	}

	.hero-img {
		position: relative;
		height: 100vh;
		background-image: url('../img/shoe-bg-small.jpg');
		background-position: top;
		background-size: cover;
		background-attachment: fixed;
		z-index: 0;
	}

	.hero-shadow {
		position: absolute;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.85);
		z-index: -10;
	}

	.hero-text {
		display: flex;
		flex-direction: column;
		justify-content: center;
		height: 100%;
		padding: 2rem;
		z-index: 5;
		.btn {
			position: relative;
			display: flex;
			align-items: center;
			justify-content: center;
			gap: 5px;
			width: 100px;
			height: 35px;
			background-color: $primary-bgc;
			border-radius: 1px;
			color: black;
			font-size: 1.4rem;
			img {
				width: 16px;
			}
			&::after {
				position: absolute;
				right: -3px;
				bottom: -3px;
				width: 100%;
				height: 100%;
				content: '';
				border: 1px solid $primary-bgc;
				border-radius: 1px;
			}
		}
	}
}

// Media

@media (min-width: 576px) {
	.nav {
		&__title {
			font-size: 2rem;
		}
		&__shopCart {
			img {
				width: 2rem;
			}
			&::after {
				height: 1.3em;
				width: 1.3em;
				font-size: 0.9rem;
			}
		}
	}
}

@media (min-width: 768px) {
	body .wrapper {
		padding-left: 5rem;
		padding-right: 5rem;
	}

	.nav {
		&__title {
			font-size: 2.8rem;
			img {
				width: 40px;
			}
		}
		&__shopCart {
			img {
				width: 3rem;
			}
			&::after {
				height: 1.2em;
				width: 1.2em;
				font-size: 1.2rem;
				padding-bottom: 0.3em;
			}
		}
	}

	.menu-item {
		margin-left: -5.08rem;
		line-height: 3.5rem;
		a {
			font-size: 1.6rem;
		}
	}

	header {
		h1 {
			font-size: 4.8rem;
		}

		p {
			font-size: 2.6rem;
		}

		.hero-img {
			background-image: url('../img/shoe-bg-big.jpg');
		}

		.hero-text {
			.btn {
				gap: 1rem;
				width: 160px;
				height: 45px;
				font-size: 2rem;
				img {
					width: 20px;
				}
			}
		}
	}
}

@media (min-width: 1200px) {
	.nav {
		&__title {
			gap: 2rem;
			margin-right: 2rem;
			font-size: 4.8rem;
			img {
				width: 60px;
			}
		}
		&__shopCart {
			img {
				width: 4rem;
			}
			&::after {
				right: -0.7rem;
				width: 1.4em;
				height: 1.4em;
				font-size: 1.4rem;
			}
		}
	}

	.menu-item {
		line-height: 6rem;

		a {
			font-size: 2.6rem;
		}
	}

	header {
		h1 {
			font-size: 6.4rem;
		}

		p {
			font-size: 3.2rem;
			margin: 1rem 0 4rem 0;
		}

		.hero-text {
			.btn {
				gap: 2rem;
				width: 230px;
				height: 60px;

				font-size: 2.8rem;
				img {
					width: 30px;
				}
				&::after {
					right: -5px;
					bottom: -5px;
				}
			}
		}
	}
}
