@use 'colors' as *;

body {
	background-color: white;
}

nav {
	background-color: $primary-bgc;
}

.nav {
	&__title {
		i {
			color: black;
		}
		p {
			color: black;
		}
	}
}

.burger-btn__bars,
.burger-btn__bars::after,
.burger-btn__bars::before {
	background-color: black;
}

// main

main {
	display: flex;
	flex-direction: column;
	gap: 2.5rem;
	padding: 9rem 3.7rem 6rem;
	.grey {
		color: $footer-color;
		font-size: 1.4rem;
	}
	.black {
		font-size: 1em;
	}

	.items,
	.costs,
	.content {
		display: flex;
		justify-content: space-between;
		padding: 0 2rem;
		.left {
			display: flex;
			flex-direction: column;
			gap: 0.4rem;
		}
	}

	.costs {
		.left {
			gap: 1.2rem;
		}
		.right {
			display: flex;
			flex-direction: column;
			gap: 1.2rem;
			.rabat-prize {
				position: relative;
				&::before {
					content: '-';
					position: absolute;
					left: -1rem;
				}
			}
		}
	}
	.summary {
		display: flex;
		flex-direction: column;
		gap: 1.2rem;
		.line {
			width: 100%;
			height: 0.15rem;
			background-color: black;
		}
	}

	.finalize {
		display: flex;
		align-items: center;
		gap: 0.7rem;
		margin: 0 auto;
		margin-top: 2.5rem;

		input[type='checkbox'] {
			appearance: none;
			border-radius: 0.5rem;
			border: 2px solid #000;
			width: 1.7rem;
			height: 1.7rem;
			cursor: pointer;
			position: relative;
			transition: border 0.3s;
			&::before {
				font-family: "Font Awesome 5 Free";
				content: '\f058';
				position: absolute;
				left: 50%;
				top: 50%;
				transform: translate(-50%, -50%);
				font-size: .8em;
				color: transparent;
				transition: color 0.3s ;
			}
			&:checked::before {
				color: $cta-color;
			}
			&:hover {
				border: 2px solid $cta-color;
			}
		}

		label {
			font-size: 1.4rem;
		}
	}
	.button {
		display: flex;
		justify-content: flex-end;

		button {
			font-size: 1.4rem;
			padding: 0.7rem 1.1rem;
			border: none;
			border-radius: 0.5rem;
			background-color: $cta-color;
			font-weight: 700;
			color: white;
			cursor: pointer;
			letter-spacing: 0.1rem;
		}
	}
}

@media (min-width: 576px) {
	main {
		gap: 3rem;
		padding: 11rem 5rem 6rem;
		.grey {
			font-size: 1.5rem;
		}
		.black {
			font-size: 1.1em;
		}

		.items,
		.costs,
		.content {
			padding: 0 3rem;
			.left {
				gap: 0.4rem;
			}
		}

		.costs {
			.left {
				gap: 1.6rem;
			}
			.right {
				gap: 1.6rem;
			}
		}
		.summary {
			gap: 1.6rem;
		}

		.finalize {
			gap: 1rem;
			margin-top: 2.5rem;

			input[type='checkbox'] {
				width: 2rem;
				height: 2rem;
				&::before {
					font-size: 1em;
				}
			}

			label {
				font-size: 1.6rem;
			}
		}
		.button {
			button {
				margin-top: 0.5rem;
				font-size: 1.6rem;
			}
		}
	}
}

@media (min-width: 768px) {
	main {
		gap: 3.5rem;
		padding: 13rem 8rem 8rem;
		.grey {
			font-size: 1.6rem;
		}
		.black {
			font-size: 1.3em;
		}

		.items,
		.costs,
		.content {
			padding: 0 4rem;
			.left {
				gap: 0.8rem;
			}
		}

		.costs {
			.left {
				gap: 2rem;
			}
			.right {
				gap: 2rem;
			}
		}
		.summary {
			gap: 2rem;
		}

		.finalize {
			gap: 1.4rem;
			margin-top: 3rem;

			input[type='checkbox'] {
				width: 2.2rem;
				height: 2.2rem;
				&::before {
					font-size: 1.1em;
				}
			}

			label {
				font-size: 1.8rem;
			}
		}
		.button {
			button {
				margin-top: 1.5rem;
				font-size: 1.8rem;
			}
		}
	}
}

@media (min-width: 992px) {
	main {
		gap: 5rem;
		padding: 13rem 12rem 8rem;
		.grey {
			font-size: 1.8rem;
		}
		.black {
			font-size: 1.5em;
		}

		.items,
		.costs,
		.content {
			padding: 0 5rem;
			.left {
				gap: 1.2rem;
			}
		}

		.costs {
			.left {
				gap: 2.6rem;
			}
			.right {
				gap: 2.6rem;
			}
		}
		.summary {
			gap: 3rem;
		}

		.finalize {
			gap: 1.8rem;
			margin-top: 3.5rem;

			input[type='checkbox'] {
				width: 2.4rem;
				height: 2.4rem;
				&::before {
					font-size: 1.2em;
				}
			}

			label {
				font-size: 2rem;
			}
		}
		.button {
			button {
				margin-top: 1.5rem;
				font-size: 2rem;
			}
		}
	}
}

@media (min-width: 1200px) {
	main {
		gap: 6rem;
		padding: 13rem 14rem 8rem;
		.grey {
			font-size: 2rem;
		}
		.black {
			font-size: 1.8em;
		}

		.items,
		.costs,
		.content {
			.left {
				gap: 1.4rem;
			}
		}

		.costs {
			.left {
				gap: 3rem;
			}
			.right {
				gap: 3rem;
			}
		}
		.summary {
			gap: 3.4rem;
		}

		.finalize {
			gap: 2rem;
			margin-top: 4rem;
		}
		.button {
			button {
				font-size: 2.4rem;
			}
		}
	}
}
